body {
  font-family: 'Monaco';
}
body > div {
  display: flex;
  align-items: center;
}
.node {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  margin: 0 10px;
  &:not(:active) > .node-suggestions {
    display: none;
  }
}
.node--value {
  color: #5f38b9;
}
.node--operator {
  color: #4094a0;
}
.node--function {
  color: #c92127;
}
.node--fraction {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
    box-sizing: border-box;
    &:first-child { border-bottom: 1px solid #000; }
    &.node--fraction { font-size: .9em; }
  }
}
.node-suggestions {
  position: absolute;
  top: 100%; left: 0;
  color: #fff;
  & > div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 20px;
    padding: 3px;
    margin-bottom: 1px;
    border-radius: 2px;
    background: #aaa;
    &:hover { filter: brightness(.8) }
  }
}
.fraction {
  display: inline-flex;
  flex-direction: column;
  & > math-node-2:nth-child(1) {
    border-bottom: 1px solid;
  }
}
.integral {
  & > math-node:nth-child(1),
  & > math-node:nth-child(2) {
    position: absolute;
    font-size: .6em;
  }
  & > math-node:nth-child(1) {
    left: 0;
    bottom: -1em;
  }
  & > math-node:nth-child(2) {
    top: -.8em;
    left: .5em;
  }
  & > math-node:nth-child(4) {
    font-size: .7em;
  }
}
